[include mainsail.cfg]
[include timelapse.cfg]
[include displays.cfg]
[include steppers.cfg]
[include toolchanger/readonly-configs/toolchanger-include.cfg]
[include user-macros/macros-include.cfg]
[exclude_object]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_360025000251323438323636-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 450 
max_accel: 8000	
max_z_velocity: 90
max_z_accel: 400
square_corner_velocity: 5.0

[resonance_tester]
accel_chip: adxl345
probe_points:
   175, 175, 20 

[input_shaper]
shaper_freq_x: 67.200 
shaper_type_x: mzv
shaper_freq_y: 45.800
shaper_type_y: zv

[virtual_sdcard]
path: /home/brandon/printer_data/gcodes
on_error_gcode: PAUSE

#######################################
#### Temp Sensor Section ####
#######################################

[duplicate_pin_override]
pins: PC1

[temperature_sensor chamber]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
max_temp: 80
gcode_id: C

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor mcu]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PB4
sensor_type: Generic 3950 # NTC 100K MGB18-104F39050L32
sensor_pin: PB0
max_power: 0.5
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
#	Fan Setup
#####################################################################

[temperature_fan controller_fan]
##	Controller fan - FAN2 Connector
pin: PB2
kick_start_time: 0.5
sensor_type: temperature_host
control: watermark
min_temp: 5
target_temp: 50.0
max_temp: 90
max_speed: 0.4
#max_power: 0.5

[fan_generic BedFans]
pin: PC8  		
cycle_time: 0.06
kick_start_time: 0.5

[fan_generic exhaust_fan]
pin: PA13
kick_start_time: 5.0

#####################################################################
#	LED Setup
#####################################################################

[led chamber_lights]
white_pin: PB3
hardware_pwm:true
initial_WHITE:0.25
cycle_time: 0.001

#####################################################################
#	Homing, QGL, Mesh Setup
#####################################################################
   
[quad_gantry_level]
gantry_corners:
	-70,-10
	420,410
points:
	30,30
	30,300
	300,300
	300,30

speed: 350
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

[bed_mesh]
speed: 350
horizontal_move_z: 5
probe_count: 5,5 # Values should be odd, so one point is directly at bed center
algorithm: bicubic
mesh_pps: 2, 3
mesh_min: 40, 40
mesh_max: 310, 310

[axis_twist_compensation]
speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
calibrate_start_x: 20
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position.
calibrate_end_x: 330
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position.
calibrate_y: 175
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter is recommended to
#   be near the center of the bed

# For Y-axis twist compensation, specify the following parameters:
calibrate_start_y: 20
#   Defines the minimum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the starting
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
calibrate_end_y: 330
#   Defines the maximum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the ending
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
calibrate_x: 175
#   Defines the X coordinate of the calibration for Y axis twist compensation
#   This should be the X coordinate that positions the nozzle during the
#   calibration process for Y axis twist compensation. This parameter must be
#   provided and is recommended to be near the center of the bed.


#####################################################################
#	Stepper Tuning Param
#####################################################################

#[autotune_tmc stepper_x]
#motor: TB-3544
#tuning_goal:performance
;sg4_thrs: 45
;extra_hysteresis: 3
#[autotune_tmc stepper_y]
#motor: TB-3544
#tuning_goal: performance 
;sg4_thrs: 80
;extra_hysteresis: 3

;[autotune_tmc stepper_z]
;motor: TB-3544
;tuning_goal:performance
;[autotune_tmc stepper_z1]
;motor: TB-3544
;tuning_goal:performance
;[autotune_tmc stepper_z2]
;motor: TB-3544
;tuning_goal:performance
;[autotune_tmc stepper_z3]
;motor: TB-3544
;tuning_goal:performance

#--------------------------------------------------------------------
    
## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.060000, 0.028750, 0.095000, 0.016250, -0.105000
#*# 	-0.040000, 0.050000, 0.062500, -0.005000, -0.073750
#*# 	-0.032500, 0.027500, 0.046250, -0.007500, -0.131250
#*# 	-0.041250, 0.055000, 0.080000, 0.033750, -0.081250
#*# 	-0.077500, 0.017500, 0.065000, -0.008750, -0.133750
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 310.0
#*# min_y = 40.0
#*# max_y = 310.0
#*#
#*# [axis_twist_compensation]
#*# z_compensations = -0.019500, 0.020500, -0.015750, -0.014500, 0.029250
#*# compensation_start_x = 20.0
#*# compensation_end_x = 330.0
#*# zy_compensations = 0.121000, 0.067250, -0.012750, -0.060250, -0.115250
#*# compensation_start_y = 20.0
#*# compensation_end_y = 330.0
